/* .App {
    width: 100%;
    display: flex;
}

.ListView{
    float:left; 
    width: 10%;
    height: 100vh;
    margin:0 0.25% 0 0.25%;
}

.CardView{
    float:right; 
    width: 90%;
    height: 100vh;
    background-color: rgb(194, 125, 125);
} */

h1{
    color: rgb(211, 211, 211);
}
h2{
    color: rgb(211, 211, 211);
}
h5{
    color: rgb(211, 211, 211);
}

.GenresList{
    grid-area: GenresList;
    height: 85.5vh;
}

.GamesList{
    grid-area: GamesList;
    overflow-y: scroll;
    height: 85.5vh;
}

.HeaderDiv{
    grid-area: HeaderDiv;
}

.FooterDiv{
    grid-area: FooterDiv;
}

.App{
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'HeaderDiv HeaderDiv HeaderDiv HeaderDiv HeaderDiv'
    'GenresList GamesList GamesList GamesList GamesList'
    'FooterDiv FooterDiv FooterDiv FooterDiv FooterDiv';
    gap: 2px;
    /* padding: 1px; */
    background-color: black;
}

.App > div{
    /* background-color: rgba(189, 84, 84, 0.8); */
    background-color: rgb(19, 19, 19);
  text-align: center;
  padding: 20px 0;
}

#GenresList{
    background-color: rgb(19, 19, 19);
    width: 15vw;
}

.GenresItems{
    overflow-y: scroll;
    height: 74vh;
}

#FooterDiv{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7vh;
    background-color: rgb(19, 19, 19);
}

#HeaderDiv{
    height: 7vh;
    background-color: rgb(19, 19, 19);
}

#GamesList{
    display: flex;
}

/* .GamesList > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 40vh;
    margin: 5px;
    height: 78vh;
} */

/* .GamesList > div > div {
    margin: 5px;
    width: 80vw;
    height: 100%;
    overflow: auto;
    max-height: fit-content;
} */

#CardsWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 40vh;
    margin: 5px;
    height: 78vh;
}

#card{
    margin: 5px;
    width: auto;
    height: auto;
    position: relative;
    background-color: rgb(63, 63, 63);
}

#card-img-top{
    width: 50%;
    height: 50%;
    object-fit: fill;
    padding: 5px;
    margin-bottom: 10px;
}

.GameDiv{
    display: block;
    width: 100%;
}

.NoGenre{
    display: block;
    padding: 5px;
    margin: 5px;
}
